<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)">
	<head>
		<!-- meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" />
		
		<!-- custom CSS -->
		<link rel="stylesheet" href="#" th:href="@{/css/minesweeper.css}" />

		<!-- Remix Icon -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" />
		
		<!-- allow templates to use query (dirty) -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

		<!-- page title, will be replaced by given fragment -->
		<title th:replace="${title}">Application Title</title>
	</head>
	<body>
		<!-- our site will use bootstrap container layout -->
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="#" th:href="@{/}">Minesweeper</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					 <ul class="navbar-nav">
						 <li class="nav-item">
							 <a class="nav-link" href="#" th:href="@{/}">Home</a>
						 </li>
					 	<li class="nav-item">
					 		<a class="nav-link" href="#" th:href="@{/minesweeper/create}">New game</a>
				 		</li>
					 </ul>
				</div>
			</nav>
		
			<div class="jumbotron" th:replace="${content}">
				<p>
					Microsoft Minesweeper (formerly just Minesweeper, and also known as Flower Field) is a minesweeper-type video game created by Curt Johnson, originally for IBM's OS/2, that was ported to Microsoft Windows by Robert Donner, both Microsoft employees at the time. First officially released as part of the Microsoft Entertainment Pack 1 in 1990, it was first included in the standard install of Windows 3.1 in 1992, replacing Reversi from Windows 3.0. Microsoft Minesweeper was included without major changes in all subsequent Windows releases until Windows Vista, at which time an updated version by Oberon Media replaced it. In Windows 8 and later the game is not included with a fresh Windows install, but Microsoft Studios has published an updated version of it, developed by Arkadium, on Microsoft Store.
				</p>
			</div>
		</div>
		
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
	</body>
</html>
