<html th:replace="~{layout :: layout(~{::title}, ~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:fragment="title">Welcome to Minesweeper</title>
</head>
<body>
<div class="container-play-div" th:fragment="content">

    <span class="alert alert-info" role="alert">This is your minefield (<span th:text="${game.width}">4</span>,<span th:text="${game.height}">4</span>), there is <span th:text="${game.count}">4</span> mines in it ! Enjoy !</span>

    <!--<p th:if="" class="alert alert-success">Good game ! You WIN</p>
    <p th:if="" class="alert alert-danger">Game lost !</p>-->

    <table class="board">
        <tr th:each="row: ${#numbers.sequence(0, game.getHeight() - 1)}">
            <td th:attr="data-id=${game.getId()}" th:each="col: ${#numbers.sequence(0, game.getWidth() - 1)}" th:onclick="|location.href='/minesweeper/game/'+this.getAttribute('data-id')+'/${col}:${row}'|">
                <!--<span th:if="${game.minefield[col][row] == 1}" th:text="${game.getMineCountNear(col, row)}"></span>-->
                <img th:if="${game.minefield[col][row] == 3}" src="/images/explosion.png">
            </td>
        </tr>
    </table>


</div>
</body>
</html>